* {
  margin: 0;
  padding: 0;
}
.title {
  font-weight: 600;
  font-size: 50px;
  color: rgb(80, 80, 80);
}

body {
  font-family: "Poppins", sans-serif;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(rgb(211, 137, 0), tomato);
  padding: 10px 10px;
  border-radius: 20px;
  color: white;
  margin-top: 20px;
}
.title-link-added {
  display: flex;
  margin-bottom: 200px;
}
.half-width {
  width: 50%;
  margin-left: 5%;
  margin-top: auto;
  margin-bottom: auto;
}
.half-width img {
  width: 80%;
}
.title-link-added {
  background-image: url(food-images/shapes/Frame\ 59.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.sec-half-width {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 10px;
  background-position: left;
}
.sec-half-width-pic {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 10px;
}
